<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Expression.Interaction" version="3.0.40218.0" targetFramework="net452" />
  <package id="Lierda.WPFHelper" version="1.0.3" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net452" />
  <package id="Vlc.DotNet.Core" version="3.1.0" targetFramework="net452" />
  <package id="Vlc.DotNet.Core.Interops" version="3.1.0" targetFramework="net452" />
  <package id="Vlc.DotNet.Wpf" version="3.1.0" targetFramework="net452" />
</packages>